@page "/project/create"

<h3>Create Project</h3>

<EditForm Model="_project" OnValidSubmit="OnValidSubmit">
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Project name" @bind-Value="_project.Name" For="() => _project.Name" Required="true"></MudTextField>
            <MudTextField Label="Short name" @bind-Value="_project.ShortName" For="() => _project.ShortName" Required="true"></MudTextField>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">Create</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>