name: Project Setup Tool CI

on:
  push:
    paths: 
      - "src/**"
      - ".github/workflows/CI.yml"
  pull_request:
  workflow_dispatch:

jobs:

  terraform:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Format Check
      run: terraform fmt -check -recursive
      working-directory: ./src/.azure

    - name: Terraform Init
      run: terraform init -backend=false
      working-directory: ./src/.azure

    - name: Terraform Validate
      run: terraform validate
      working-directory: ./src/.azure

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build the API Docker image
      run: docker build ./src --file ./src/NbgDev.Pst.Api/Dockerfile --tag pst-api:$(date +%s)

    - name: Build the Web Docker image
      run: docker build ./src --file ./src/NbgDev.Pst.Web/Dockerfile --tag pst-web:$(date +%s)